body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:5px;
  width:400px;
  height:734px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:734px;
}
#u1 {
  position:absolute;
  left:2px;
  top:359px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:5px;
  width:400px;
  height:34px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:34px;
}
#u3 {
  position:absolute;
  left:2px;
  top:9px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:40px;
  top:18px;
  width:9px;
  height:9px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:52px;
  top:18px;
  width:9px;
  height:9px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:64px;
  top:18px;
  width:9px;
  height:9px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:76px;
  top:18px;
  width:9px;
  height:9px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:88px;
  top:18px;
  width:9px;
  height:9px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:213px;
  top:16px;
  width:32px;
  height:1px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:393px;
  top:16px;
  width:27px;
  height:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:14px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:419px;
  top:20px;
  width:4px;
  height:5px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:5px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:393px;
  top:16px;
  width:24px;
  height:14px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-1px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:30px;
  top:38px;
  width:400px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:48px;
}
#u23 {
  position:absolute;
  left:2px;
  top:13px;
  width:396px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:43px;
  top:50px;
  width:24px;
  height:24px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:37px;
  top:46px;
  width:87px;
  height:32px;
  font-size:18px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
}
#u27 {
  position:absolute;
  left:0px;
  top:5px;
  width:87px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:46px;
  top:91px;
  width:77px;
  height:16px;
  font-size:14px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:30px;
  top:113px;
  width:400px;
  height:35px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:35px;
}
#u31 {
  position:absolute;
  left:2px;
  top:10px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:30px;
  top:147px;
  width:400px;
  height:48px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:48px;
}
#u33 {
  position:absolute;
  left:2px;
  top:16px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:57px;
  top:160px;
  width:47px;
  height:22px;
  font-size:18px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:339px;
  top:160px;
  width:41px;
  height:22px;
  font-size:18px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:200px;
  top:160px;
  width:33px;
  height:22px;
  font-size:18px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:30px;
  top:685px;
  width:400px;
  height:54px;
  font-size:18px;
  color:#FFD600;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:54px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:209px;
  top:696px;
  width:42px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:28px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:31px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:46px;
  top:201px;
  width:95px;
  height:16px;
  font-size:14px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:30px;
  top:223px;
  width:400px;
  height:35px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:35px;
}
#u47 {
  position:absolute;
  left:2px;
  top:10px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:30px;
  top:257px;
  width:400px;
  height:48px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:48px;
}
#u49 {
  position:absolute;
  left:2px;
  top:16px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:57px;
  top:270px;
  width:47px;
  height:22px;
  font-size:18px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:344px;
  top:270px;
  width:31px;
  height:22px;
  font-size:18px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:208px;
  top:270px;
  width:16px;
  height:22px;
  font-size:18px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:22px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:47px;
  top:352px;
  width:130px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:113px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:130px;
  height:1px;
}
#u57 {
  position:absolute;
  left:48px;
  top:121px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:319px;
  top:121px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#1E1E1E;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:151px;
  top:121px;
  width:131px;
  height:19px;
  font-size:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:19px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:48px;
  top:231px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:319px;
  top:231px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#1E1E1E;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:151px;
  top:231px;
  width:131px;
  height:19px;
  font-size:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:19px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:295px;
  top:312px;
  width:120px;
  height:22px;
  font-size:18px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:285px;
  top:352px;
  width:130px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:113px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:5px;
  width:130px;
  height:1px;
}
#u72 {
  position:absolute;
  left:188px;
  top:349px;
  width:85px;
  height:16px;
  font-size:14px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
