body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:573px;
  top:-420px;
  width:253px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:5px;
  width:400px;
  height:734px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:734px;
}
#u3 {
  position:absolute;
  left:2px;
  top:359px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:30px;
  top:85px;
  width:400px;
  height:102px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:102px;
}
#u5 {
  position:absolute;
  left:2px;
  top:19px;
  width:396px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:370px;
  top:96px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#FFA230;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:30px;
  top:5px;
  width:400px;
  height:34px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:34px;
}
#u9 {
  position:absolute;
  left:2px;
  top:9px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:40px;
  top:18px;
  width:9px;
  height:9px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:52px;
  top:18px;
  width:9px;
  height:9px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:64px;
  top:18px;
  width:9px;
  height:9px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:76px;
  top:18px;
  width:9px;
  height:9px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:88px;
  top:18px;
  width:9px;
  height:9px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:213px;
  top:16px;
  width:32px;
  height:1px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:1px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:393px;
  top:16px;
  width:27px;
  height:14px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:14px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:419px;
  top:20px;
  width:4px;
  height:5px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:5px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:393px;
  top:16px;
  width:24px;
  height:14px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-1px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:30px;
  top:38px;
  width:400px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:48px;
}
#u29 {
  position:absolute;
  left:2px;
  top:13px;
  width:396px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:43px;
  top:50px;
  width:24px;
  height:24px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:37px;
  top:46px;
  width:87px;
  height:32px;
  font-size:18px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
}
#u33 {
  position:absolute;
  left:0px;
  top:5px;
  width:87px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:46px;
  top:97px;
  width:185px;
  height:22px;
  font-size:18px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:22px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:46px;
  top:129px;
  width:20px;
  height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:76px;
  top:129px;
  width:53px;
  height:19px;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:46px;
  top:159px;
  width:20px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:76px;
  top:158px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:290px;
  top:113px;
  width:128px;
  height:64px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#797979;
  text-align:right;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:64px;
}
#u45 {
  position:absolute;
  left:0px;
  top:18px;
  width:128px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:30px;
  top:186px;
  width:400px;
  height:102px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:102px;
}
#u47 {
  position:absolute;
  left:2px;
  top:19px;
  width:396px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:370px;
  top:197px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#FFA230;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:46px;
  top:198px;
  width:175px;
  height:22px;
  font-size:18px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:22px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:46px;
  top:230px;
  width:20px;
  height:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:76px;
  top:230px;
  width:44px;
  height:19px;
  font-size:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:46px;
  top:260px;
  width:20px;
  height:20px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u57 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:76px;
  top:259px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:290px;
  top:214px;
  width:128px;
  height:64px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#797979;
  text-align:right;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:64px;
}
#u61 {
  position:absolute;
  left:0px;
  top:18px;
  width:128px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:30px;
  top:287px;
  width:400px;
  height:102px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:102px;
}
#u63 {
  position:absolute;
  left:2px;
  top:19px;
  width:396px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:370px;
  top:301px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#FFA230;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:46px;
  top:299px;
  width:229px;
  height:22px;
  font-size:18px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:22px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:46px;
  top:331px;
  width:20px;
  height:20px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u69 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:76px;
  top:331px;
  width:53px;
  height:19px;
  font-size:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:46px;
  top:361px;
  width:20px;
  height:20px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u73 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:76px;
  top:360px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:290px;
  top:315px;
  width:128px;
  height:64px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#797979;
  text-align:right;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:64px;
}
#u77 {
  position:absolute;
  left:0px;
  top:18px;
  width:128px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:30px;
  top:388px;
  width:400px;
  height:102px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:102px;
}
#u79 {
  position:absolute;
  left:2px;
  top:19px;
  width:396px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:370px;
  top:399px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#FFA230;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:46px;
  top:400px;
  width:239px;
  height:22px;
  font-size:18px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:22px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:46px;
  top:432px;
  width:20px;
  height:20px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u85 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:76px;
  top:432px;
  width:53px;
  height:19px;
  font-size:16px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:46px;
  top:462px;
  width:20px;
  height:20px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u89 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:76px;
  top:461px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:290px;
  top:416px;
  width:128px;
  height:64px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#797979;
  text-align:right;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:64px;
}
#u93 {
  position:absolute;
  left:0px;
  top:18px;
  width:128px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:30px;
  top:518px;
  width:400px;
  height:102px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:102px;
}
#u95 {
  position:absolute;
  left:2px;
  top:19px;
  width:396px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:370px;
  top:529px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:46px;
  top:530px;
  width:193px;
  height:22px;
  font-size:18px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:22px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:46px;
  top:562px;
  width:20px;
  height:20px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u101 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:76px;
  top:562px;
  width:53px;
  height:19px;
  font-size:16px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:46px;
  top:592px;
  width:20px;
  height:20px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u105 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:76px;
  top:591px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:290px;
  top:546px;
  width:128px;
  height:64px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#797979;
  text-align:right;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:64px;
}
#u109 {
  position:absolute;
  left:0px;
  top:18px;
  width:128px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:221px;
  top:200px;
  width:20px;
  height:20px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u111 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:295px;
  top:300px;
  width:20px;
  height:20px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u113 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:275px;
  top:300px;
  width:20px;
  height:20px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u115 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:46px;
  top:499px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:30px;
  top:618px;
  width:400px;
  height:102px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:102px;
}
#u119 {
  position:absolute;
  left:2px;
  top:19px;
  width:396px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:370px;
  top:629px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:46px;
  top:630px;
  width:229px;
  height:22px;
  font-size:18px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:22px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:46px;
  top:662px;
  width:20px;
  height:20px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u125 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:76px;
  top:662px;
  width:44px;
  height:19px;
  font-size:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:46px;
  top:692px;
  width:20px;
  height:20px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u129 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:76px;
  top:691px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:290px;
  top:646px;
  width:128px;
  height:64px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#797979;
  text-align:right;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:64px;
}
#u133 {
  position:absolute;
  left:0px;
  top:18px;
  width:128px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:176px;
  top:722px;
  width:99px;
  height:16px;
  font-size:14px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:460px;
  top:341px;
  width:60px;
  height:29px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
}
#u137 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:580px;
  top:113px;
  width:300px;
  height:344px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:344px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:900px;
  top:203px;
  width:120px;
  height:91px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:91px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
