body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:5px;
  width:400px;
  height:734px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:734px;
}
#u1 {
  position:absolute;
  left:2px;
  top:359px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:5px;
  width:400px;
  height:34px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:34px;
}
#u3 {
  position:absolute;
  left:2px;
  top:9px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:40px;
  top:18px;
  width:9px;
  height:9px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:52px;
  top:18px;
  width:9px;
  height:9px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:64px;
  top:18px;
  width:9px;
  height:9px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:76px;
  top:18px;
  width:9px;
  height:9px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:88px;
  top:18px;
  width:9px;
  height:9px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:213px;
  top:16px;
  width:32px;
  height:1px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:393px;
  top:16px;
  width:27px;
  height:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:14px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:419px;
  top:20px;
  width:4px;
  height:5px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:5px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:393px;
  top:16px;
  width:24px;
  height:14px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-1px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:30px;
  top:38px;
  width:400px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:48px;
}
#u23 {
  position:absolute;
  left:2px;
  top:13px;
  width:396px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:44px;
  top:47px;
  width:30px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:387px;
  top:47px;
  width:30px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:30px;
  top:685px;
  width:400px;
  height:54px;
  font-size:18px;
  color:#FFD600;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:54px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:189px;
  top:697px;
  width:72px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:28px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:31px;
  top:87px;
  width:398px;
  height:599px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:599px;
}
#u33 {
  position:absolute;
  left:2px;
  top:292px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:30px;
  top:39px;
  width:400px;
  height:700px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:700px;
}
#u35 {
  position:absolute;
  left:2px;
  top:342px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:30px;
  top:39px;
  width:350px;
  height:700px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:700px;
}
#u37 {
  position:absolute;
  left:2px;
  top:342px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:30px;
  top:38px;
  width:350px;
  height:90px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:90px;
}
#u39 {
  position:absolute;
  left:2px;
  top:37px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:30px;
  top:127px;
  width:350px;
  height:48px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:48px;
}
#u41 {
  position:absolute;
  left:2px;
  top:16px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:30px;
  top:221px;
  width:350px;
  height:48px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:48px;
}
#u43 {
  position:absolute;
  left:2px;
  top:16px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:30px;
  top:174px;
  width:350px;
  height:48px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:48px;
}
#u45 {
  position:absolute;
  left:2px;
  top:16px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:56px;
  top:56px;
  width:50px;
  height:50px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u47 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:123px;
  top:57px;
  width:55px;
  height:22px;
  font-size:18px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:123px;
  top:86px;
  width:111px;
  height:22px;
  font-size:18px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:56px;
  top:138px;
  width:25px;
  height:25px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u53 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:56px;
  top:185px;
  width:25px;
  height:25px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u55 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:56px;
  top:234px;
  width:25px;
  height:25px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u57 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:100px;
  top:140px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:100px;
  top:186px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:100px;
  top:234px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:244px;
  top:48px;
  width:128px;
  height:64px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#797979;
  text-align:right;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:64px;
}
#u65 {
  position:absolute;
  left:0px;
  top:18px;
  width:128px;
  word-wrap:break-word;
}
